.container-form{
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-floating{
    background-color: #E6E7EB;
    margin: 5px 50px 5px 50px;
}

.container-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.container-btn .btn-clean{
    background-color: #E6E7EB;
    color: #0073CF;
    border: 1px solid #0073CF;
}

.container-btn .btn-clean:hover{
    background-color: #0073CF;
    color: #E6E7EB;
}

.form-header{
    color: black;
    text-align: center;
    padding: 20px;
}

.container-resultado{
    display: flex;
    justify-content: right;
    align-items: right;
    padding-right: 30px;
}